.category-card{
    background-color: var(--lightGrey);
    color:var(--light);
    /* transition: 0.5s; */
}

.category-card:hover{
    border:2px solid rgb(138, 138, 138);
}

.category-card-selected{
    background-color: var(--light);

}