:root {
    --grey1: #323232;
    --grey2: #282828;
    --grey3: #1a1a1a;
    --lightGrey: #424242;
    --coffee: #775332;
    --red: #fd0027;
    --redMessage:rgb(244, 67, 54);
    --green: #2abf52;
    --darkBlue: #2c709b;
    --lightBlue: #0595e7;
    --light:white;
  }
  