.page-locations{
    padding: 20px;
}

.locations-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-auto-rows:200px;
    grid-gap:20px;

}

.page-locations-empty{
    display: flex;
    justify-content: center;
    align-items: center;
}

